/* General styles */
:root {
  /* primary color */
  --clr-primary-1: #f5f5f5;
  /* Other shades of primary color */
  --clr-primary-2: #424242;
  --clr-primary-3: #838383;
  /* secondary color */
  --clr-secondary-1: #da0000;
  --clr-secondary-2: #ffd900;
  /* bluish color */
  --clr-blue-1: hsl(220, 13%, 13%);
  --clr-blue-2: hsl(219, 9%, 45%);
  --clr-blue-3: hsl(220, 14%, 75%);
  --clr-blue-4: hsl(240, 60%, 98%);
  /* general */
  --radius: 0.5rem;
  --transition: all 0.2s linear;
  --transition-2: all 0.1s linear;
  --spacing: 0.1rem;
  /* Fonts */
  --ff-700: 5rem;
  --ff-600: 4rem;
  --ff-500: 2.75rem;
  --ff-400: 2.5rem;
  --ff-300: 1.875rem;
  --ff-200: 1.625rem;
  --ff-100: 1.25rem;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}
a:visited,
a:any-link {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

p {
  line-height: 1.6;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.25;
}

img,
picture {
  max-width: 100%;
  display: block;
  margin-bottom: 2em;
  border-radius: 0.6rem;
}

h1,
h2,
h3 {
  font-family: "ITC cushing std";
}

.container {
  width: 85vw;
  margin: auto;
}

@media (max-width:700px) {
  .container{
    width: 85vw;
    margin-left: 1em;
  }
}

@media (max-width:700px) {
  .container{
    width: 90vw;
    margin: auto;
  }
}